[component]
file=modules
reload-unreload+=ThemeModules
# see themes/default/modules.cfg
hints+=reload-unreload-ColorsModules
reload-read-command=*none*
#
external-imagepath+=$HOME/.wm-icons
external-imagepath+=$HOME/.wm-icons;.png
external-imagepath+=/usr/local/share/icons/wm-icons
external-imagepath+=/usr/share/icons/wm-icons
# Just to show inline functionality. :-)
inline=1
#
option+file=pager
option.name=Choose Pager
option.reload-read-command=*none*
option.default=1
option.value+file=pager-desker
option.value.name=Pager & Desker
option.value+file=pager
option.value.name=Pager only
option.value+file=desker
option.value.name=Desker only
option.value+file=none
option.value.name=None
#
option+file=buttonbar
option.name=Choose Button Bar
option.read-command=PipeRead `for file in %v; do echo Read "%d/$$file"; done`
option.reload-read-command=*none*
option.default=1
option.value+file=Compact  Clock  Load
option.value.name=Compact: Clock, Load
option.value+file=Compact  Pager  Clock  Load
option.value.name=Compact: Pager, Clock, Load
option.value+file=Compact  Clock  Pager  Load
option.value.name=Compact: Clock, Pager, Load
option.value+file=Compact  Pager  Clock
option.value.name=Compact: Pager, Clock
option.value+file=Compact  Pager  Load
option.value.name=Compact: Pager, Load
option.value+file=Compact  Load   Pager
option.value.name=Compact: Load,  Pager
option.value+file=Compact  Clock
option.value.name=Compact: Clock
option.value+file=Compact  Load
option.value.name=Compact: Load
option.value+file=None
option.value.name=None
#
option+file=buttonbar/.
option.name=Choose Clock App
option.reload-read-command=*none*
option.default=1
option.value+file=xclock
option.value.name=xclock
option.value+file=astime
option.value.name=astime
#
option+file=buttonbar/./.
option.name=Choose Load App
option.reload-read-command=*none*
option.default=1
option.value+file=xload
option.value.name=xload
option.value+file=xloadtime
option.value.name=xloadtime
#
# There is a problem with IconBox and normal-icons: IconBox choice forces
# Style * NoIcon but do not set to "disabled" the modules/normal-icons choice.
# Also, it will be good to change the icon grid with the TaskBar.
# migo: I think "Window List" is a better name than "Application Manager".
option+file=../../default/modules/winlist
option.name=Choose Window List Flavor
option.read-afterward=1
option.reload-read-command=*none*
option.default=1
option.value+file=none
option.value.name=None
option.value+file=GlobalIconMan
option.value.name=Global IconMan
option.value+file=DeskIconMan
option.value.name=Desk IconMan
option.value+file=PageIconMan
option.value.name=Page IconMan
option.value+file=GlobalTaskBar
option.value.name=Global TaskBar
option.value+file=DeskTaskBar
option.value.name=Desk TaskBar
option.value+file=HideGlobalTaskBar
option.value.name=Global TaskBar (Auto Hide)
option.value+file=HideDeskTaskBar
option.value.name=Desk TaskBar (Auto Hide)
option.value+file=GlobalWinList
option.value.name=Global WinList
option.value+file=DeskWinList
option.value.name=Desk WinList
option.value+file=GlobalIconBox
option.value.name=Global IconBox
option.value+file=DeskIconBox
option.value.name=Desk IconBox
#
option+file=normal-icons
option.name=Use Normal Icons
option.reload-read-command=*none*
option.default=1
option.value+file=yes
option.value.name=Yes
option.value+file=no
option.value.name=No
